# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

bin

playbooks/output

development/src/main/resources/localhost.jks

playbooks/k8s-output